{{>partials/header}}
</header>
    <section class="imagens-movimentada">
        <div class="banner">
            <div class="banner1 img-area"><img src="../public/imagens/Foto-Fone-de-Ouvido-PNG.png"></div>
            <div class="banner1 img-area"><img src="/public/imagens/telvisão.png"></div>
            <div class="banner1 img-area">C</div>
        </div>
    </section>
    
    <div class="conte">
        <section class="conteudo">
            <div id="imagens"><img src=""></div>
            <h3 id="title"></h3>
            <p id="plot"></p>
            <span id="genero"></span>
        </section>
        <section class="conteudo"></section>
        <section class="conteudo"></section>
        <section class="conteudo"></section>
    </div>
    <div class="conteine" data-mover="left">
        <section class="conteudo"></section>
        <section class="conteudo"></section>
        <section class="conteudo"></section>
        <section class="conteudo"></section>
    </div>
    {{>partials/footer}}