<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clone Amazon</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="headerUp">
                <a href="/"><div class="logo-amazon horver_div">
                    <div><span>amazon</span>.com.br</div>
                </div></a>
                <a href=""><div class="localizacao horver_div">
                    <div class="nome">Enviar para nome</div>
                    <div class="cidade">Endereço da cidade</div>
                </div></a>
            <div class="section-header-centro">
                <div class="pesquisa">
                    <div class="pesquisa-todos">
                        <p>todos</p>
                        <select name="" id="">
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                        <form method="GET" action="/search">
                        <input type="search" name="produtos" placeholder="Pesquisar por produtos" value="{{query}}"/>
                         <button type="submit" class="button-pesquiza" >🔎</button>
                        </form>
                    </div>  
            </div>
            <a href="/contas"><div class="contas-e-listas horver_div"><p>contas e listas</p>
            <select name="" id="">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
            </div></a>
            <a href="/pedidos"><div class="devoluçoes horver_div">pedidos e devoluções</div></a>
            <a href="/carrinho"><div class="carrinho horver_div">carrinho</div></a>
        </div>
        <div class="headerdowm">
           <div class="headerdowm-left">
               <a href=""> <div class="todos horver_div">
                <div class="area-barra">
                    <div class="barra"></div>
                    <div class="barra"></div>
                    <div class="barra"></div>
                </div>
                Todos
                </div></a>

               <a href=""> <div class="horver_div">venda na amazon</div></a>
               <a href=""> <div class="horver_div">ideias para presentes</div></a>
               <a href=""> <div class="horver_div">prime</div></a>
               <a href=""> <div class="horver_div">ofertas do dia</div></a>
           </div>

           <div class="headerdowm-right">
               <a href="/cupons"> <div class="propaganda-do-header horver_div">Amazon Prime: teste GRÁTIS por 30 dias
                </div></a>
           </div>
        </div>
       